<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav'); %>

    <div class="container text-center main-content" style="margin-top: 3%;">
        <h1 class="display-4">Homepage</h1>
        <p class="lead">Welcome to Homepage of DriveTest Website</p>

        <div style="margin-top: 10%;">
            <h3>You can book G2/G drive test from this Kiosk</h3>
            <span>Posted By: DriveTest Centre</span>
        </div>
    </div>

    <%- include('partials/footer'); %>

</body>

</html>